<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

   		{# CSS Local Bootstrap#}
		<link href="css/bootstrap.css" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    	{# NAVBAR Bootstrap #}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">MyShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto d-flex">
						{% if app.user is not null %}
                            <li class="nav-item">
                                <a class="nav-link active">Bonjour {{ app.user.pseudo }} !</a>
                            </li>
							<li  class="nav-item">
								{# <a class="nav-link" href="{{ path('app_profil') }}">Profil</a> #}
                                <a class="nav-link" href="#"><i class="fa-solid fa-eye"></i>&nbsp;Mon compte</a>
							</li>
							<li class="nav-item">
								{% if is_granted("ROLE_ADMIN") %}
									<a class="nav-link" href="{{ path('admin') }}"><i class="fa-solid fa-chalkboard-user"></i>&nbsp;Back-Office</a>
								{% else %}
									<a class="nav-link"><i class="fa-solid fa-user"></i></a>
								{% endif %}
                            </li>
							<li>
								<a class="nav-link" href="{{ path('app_logout') }}" class="text-danger">
									<i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;Se déconnecter
								</a>
							</li>
						{% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}"><i class="fa-solid fa-user-plus"></i>&nbsp;S'inscrire</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}"><i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Se connecter</a>
                            </li>
						{% endif %}
                            <li class="nav-item">
                                <a class="nav-link active"><i class="fa-solid fa-calendar-days"></i>&nbsp;{{ "now"|date("D, d M Y") }}</a>
                            </li>
                    </ul>
                </div>
            </div>
            </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        
        <!-- Copyright -->
        <div class="copyright text-center"><p><i class="fa-solid fa-copyright"></i> 2022 Copyright: HOTTIN Éric</p></div=>
        <!-- Copyright -->

		{# Font Awesomw#}
		<script src="https://kit.fontawesome.com/032b0d3637.js" crossorigin="anonymous"></script>

		{# JS Bootstrap#}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
