{% extends 'base.html.twig' %}

{% block title %}Hello MyshopController!{% endblock %}

{% block body %}
	<div class="row">
        <img src="{{ asset('images/banners/MyShop.jpg') }}" alt="Banner MyShop" class="img-fluid">
		<div  class="card-img-overlay mt-5 text-center text-danger">
        <br>
		    <h4>Expédition à travers le monde 24h/24 et 7j/7</h4>
        </div>
	</div>
    <div>
        <h2 class="text-center">Nos {{ tabProduits|length }} produits en boutique</h2>

        <section class="row articles">
        {% for produit in tabProduits %}
            <article class="col-md-3 mx-auto text-center mb-3 p-3 mt-3 mr-1">
                <h2>{{ produit.titre }}</h2>
                <div class="metadata">
                    {{ produit.prix|number_format(2) }} €
                </div>
                <div class="content">
                    <img class="img-fluid" src="{{ asset('images/produits/' ~ produit.photo) }}" alt="{{ produit.titre }}">
                    {{ produit.description|raw }}
                    <br>
                    <a href="#" class="btn btn-success">Ajouter au panier&nbsp;<i class="fa-solid fa-cart-shopping-plus"></i></a>
                </div>
            </article>
        {% endfor %}
        </section>
    </div>
{% endblock %}
